{extend name="base"/}
{block name="resources"}
<style>
    .flex{display: flex;flex-wrap: wrap;}
    .flex .layui-form-item{width:50%}
    .ns-form-row{margin: 20px auto;}
    .layui-tab-brief li{border-bottom: 3px solid #FFFFFF;}
    .layui-tab-brief li.layui-this{border-bottom: 3px solid #ff6a00;}
    .panel-content { padding-left: 15px; box-sizing: border-box; }
    .ns-custom-panel .custom-panel-title .panel-content { width: calc(100% - 190px); }
    .ns-account-value, .ns-split { line-height: 34px; }
    .ns-custom-panel .custom-panel-from { display: flex; }
    .ns-custom-panel .custom-panel-from .layui-form-label{
        text-align: center;
    }
    .ns-custom-panel .custom-panel-from>div{
        text-align: center;
    }
    .ns-custom-panel .custom-panel-from .layui-form-item>div>span{
        margin-right: 10px;
    }
    .ns-custom-panel .custom-panel-from .layui-form-item>div>button{
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 0;
        line-height: 20px;
        border:0;
        color:#FF6A00 ;
    }
    .layui-input-block + .layui-word-aux {
        display: block;
        margin-left: 100px;
    }
    .ns-admin-account {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
    }

    .ns-admin-detail p {
        display: inline-block;
        width: 300px;
        line-height: 30px;
    }
</style>
{/block}
{block name="main"}
<div class="layui-card ns-card-common ns-card-brief">
    <div class="layui-card-header">
        <span class="ns-card-title">园所信息</span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label ns-company-name">园所名称：</label>
            <div class="layui-input-inline">
                <input name="title" type="text" id="hospital_name" class="layui-input ns-len-long" value="{$verify_state.data.hospital_name}"  autocomplete="off">

            </div>
        </div>
        <input type="hidden" name="hospital_id" id="hospital_id" value="{$verify_state.data.hospital_id}">
        <div class="layui-form-item">
            <label class="layui-form-label img-upload-lable ns-company-pic-front">园所头像：</label>
            <div class="layui-input-block">
                <div class="upload-img-block img-upload">
                    <div class="upload-img-box">
                        <div class="ns-upload-default" id="idCardPicFront">
                            <div id="preview_idCardPicFront" class="preview_img">
                                <img layer-src="" title="点击放大图片" src="{:img($verify_state.data.hospital_img)}" class="img_prev" layer-index="0">
                            </div>
                        </div>
                        <div class="operation" style="display:block">
                            <div>
                                <i title="图片预览" class="iconfont iconreview js-preview" style="margin-right: 20px;"></i>
                                <i title="删除图片" class="layui-icon layui-icon-delete js-delete"></i>
                            </div>
                            <div class="replace_img js-replace">点击替换</div>
                        </div>
                        <input type="hidden" id="hospital_img" name="hospital_img" value="">



                    </div>
                </div>
            </div>

        </div>
    </div>
</div >

<!-- 隐藏域 -->
<div class="ns-single-filter-box">
    <div class="ns-form-row">
        <button class="layui-btn ns-bg-color" lay-submit lay-filter="save">保存</button>
        <button class="layui-btn layui-btn-primary" onclick="back()">返回</button>
    </div>
</div>

</div>


{/block}
{block name="script"}
<script>
    layui.use(['form'], function() {
        var form = layui.form,
                $ = layui.jquery,
                payType = 1, //结算类型
                autotrophy = 0,//自营类型
                repeat_flag = false; //防重复标识

        form.render();

        var idCardPicFront_upload = new Upload({
            elem: '#idCardPicFront',
            url: ns.url("admin/upload/upload")
        });

        form.on('submit(save)', function(data){
            //添加
            data.field.hospital_name =$('#hospital_name').val();
            data.field.hospital_id =$('#hospital_id').val();
            data.field.hospital_img =$('#hospital_img').val();

            $.ajax({
                type: 'POST',
                url: ns.url("admin/hospital/editHos"),
                data: data.field,
                dataType: 'JSON',
                success: function(res) {
                    repeat_flag = false;
                    if (res.code == 0) {
                        layer.confirm('修改成功', {
                            title:'操作提示',
                            btn: ['返回列表'],
                            yes: function(){
                                location.href = ns.url("admin/hospital/lists")
                            },
                            btn2: function() {
                                location.href = ns.url("admin/hospital/addCon")
                            }
                        });
                    } else {
                        layer.msg(res.message);
                    }
                }
            });
        });

        /**
         * select监听
         */


        /**
         * 表单验证
         */
        form.verify({
            mobile: function(value) {
                var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if (value == '') {
                    return;
                }
                if (!reg.test(value)) {
                    return '请输入正确的手机号码!';
                }
            },
            idcard: function(value) {
                var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                if (value == '') {
                    return;
                }
                if (!reg.test(value)) {
                    return '请输入正确的身份证号!';
                }
            },
            bankprovince: function(value){
                if (value == -1) return '请选择省';
            },
            bankcity: function(value){
                if (value == -1) return '请选择市';
            },
            bankdistrict: function(value, item){
                if (value == -1 && $(item).find('option').length > 1) return '请选择区县';
            },
        })

    });

    function back() {
        location.href = ns.url("shop/consulting/lists");
    }
</script>

<!-- 积分弹框html -->

<!-- 余额弹框html -->

<!-- 余额（可提现）弹框html -->


<!-- 成长值弹框html -->

{/block}