<nc-component v-bind:data="data[index]" class="component-city">

	<!-- 预览 -->
	<template slot="preview">
		<div class="cut-city-wrap">
			<div class="cut-city-left">
				<span>当前城市：全国</span>
			</div>
			<div class="cut-city-right">
				<span>切换</span>
				<span class="iconfont iconyoujiantou"></span>
			</div>
		</div>
	</template>

	<!-- 编辑 -->
	<template slot="edit">
	</template>

	<!-- 资源 -->
	<template slot="resource">
		<js>
			var cityResourcePath = "{$resource_path}";
		</js>
		<css src="{$resource_path}/city/css/design.css"></css>

	</template>

</nc-component>