<!doctype html>
<html lang="zh" class="no-focus">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{:config('sitename')} - {:config('title')}</title>
    <meta name="keywords" content="{:config('keywords')}">
    <meta name="description" content="{:config('description')}">
    <link rel="stylesheet" id="css-main" href="/static/css/codebase.min.css">
</head>
<body>
<div id="page-container" class="main-content-boxed">
    <main id="main-container">
        <div class="hero bg-gd-lake">
            <div class="hero-inner">
                <div class="content content-full">
                    <div class="py-30 text-center">
                        <div class="display-3 text-white">
                            <i class="fa fa-skyatlas"></i> {:config('sitename')}
                        </div>
                        <h1 class="h2 font-w700 mt-30 mb-10"><font color="white">技术改变生活...</font></h1>
                        <h2 class="h3 font-w400 text-muted mb-50"><font color="white">我们将带领你探索支付新时代...</font></h2>
                        <a class="btn btn-hero btn-rounded btn-alt-secondary" href="/user">
                            <i class="fa fa-paper-plane-o"></i> 立即体验
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/static/js/codebase.core.min.js"></script>
<script src="/static/js/codebase.app.min.js"></script>
</body>
</html>