@mixin wrap {
	margin: $margin-updown $margin-both;
	padding: 20rpx 30rpx;
	border-radius: $border-radius;
	background: #fff;
	position: relative;
}
.order-detail-wrap{
	padding-bottom: calc(constant(safe-area-inset-bottom) + 30rpx);
	padding-bottom: calc(env(safe-area-inset-bottom) + 30rpx);
}
.align-right {
	text-align: right;
}

.status-wrap {
	background-size: 100% 100%;
	padding: 40rpx;
	height: 180rpx;

	image {
		width: 104rpx;
		height: 86rpx;
		margin-right: 20rpx;
		margin-top: 20rpx;
	}

	.container {
		display: flex;
		align-items: center;

		.status-name {
			view {
				font-size: $font-size-toolbar;
				color: #fff;
				line-height: 1;
				margin-top: 20rpx;
				text-align: left;
				&.time {
					margin-top: 20rpx;
					font-size: $font-size-base;
				}
			}
		}
	}
}

.address-wrap {
	@include wrap;
	min-height: 100rpx;
	margin-top: -69rpx;

	.icon {
		position: absolute;
		top: 10rpx;
		margin-right: 20rpx;

		.iconfont {
			line-height: 50rpx;
			font-size: $font-size-base;
		}
	}

	.address-info {
		padding-left: 40rpx;

		.info {
			display: flex;
			line-height: 1;
		}

		.detail {
			line-height: 1.3;
			margin-top: 20rpx;
		}
	}
}

.block-wrap {
	@include wrap;

	.goods-item {
		background: #fff;
		margin-top: $margin-updown;
		display: flex;
		position: relative;
		flex-flow: row wrap;

		.goods-img {
			width: 160rpx;
			height: 160rpx;
			overflow: hidden;
			border-radius: $border-radius;
			margin-right: 20rpx;

			image {
				width: 100%;
				height: 100%;
			}
		}

		.info-wrap {
			flex: 1;
			display: flex;
			flex-direction: column;
			width: 50%;
			.name-wrap {
				line-height: 1.3;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.spec-wrap {
				line-height: 1;
				margin-top: 10rpx;
				margin-bottom: 10rpx;
				color: $color-tip;
				font-size: $font-size-goods-tag;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.more-wrap {
				display: flex;
				.goods-class {
					font-size: $font-size-activity-tag;
					color: $color-tip;
				}
				.present-label {
					padding: 0 6rpx;
					display: inline-block;
					color: #fff;
					font-size: $font-size-tag;
					border-radius: $border-radius;
					width: fit-content;
					position: absolute;
					margin-left: 110rpx;
				}
				.price-wrap {
					flex: 1;
					text-align: right;
					.unit {
						font-size: $font-size-activity-tag;
					}

					.price {
						display: inline-block;
						line-height: 1;
						flex: 1;
					}
					.num {
						color: $color-tip;
						font-size: $font-size-activity-tag;
						line-height: 1;
					}
				}
			}
			.delivery-status-name {
				font-weight: bold;
				text-align: right;
				line-height: 1;
				margin-top: 10rpx;
			}
		}
		.action-wrap {
			width: 100%;
			text-align: right;
			margin-top: 10rpx;
			button {
				margin-right: 20rpx !important;
				&:last-child {
					margin-right: 0 !important;
				}
			}
		}
	}

	.title {
		font-size: $font-size-toolbar;
	}

	.order-cell {
		display: flex;
		margin: 20rpx 0;
		align-items: center;
		background: #fff;
		line-height: 40rpx;
		&:first-child {
			margin-top: 0;
		}

		.tit {
			width: 200rpx;
			text-align: left;
		}

		.box {
			flex: 1;
			padding: 0 20rpx;
			line-height: inherit;
			&.money {
				padding: 0;
			}
			&.bold {
				font-weight: bold;
			}
			.operator {
				font-size: $font-size-tag;
				margin-right: 6rpx;
			}
		}
	}

	&.tit-auto {
		.tit {
			width: initial;
		}
	}
	&.tips {
		.title {
			font-size: $font-size-base;
		}
		text {
			font-size: $font-size-tag;
			display: block;
			margin-top: 10rpx;
		}
	}
	&.log {
		.title {
			font-size: $font-size-base;
		}
		.item {
			display: flex;
			align-items: center;
			margin-top: 20rpx;
			&:last-child {
				margin-bottom: 20rpx;
			}
			.tag {
				color: #fff;
				border-radius: 50%;
				margin-right: 20rpx;
				padding: 10rpx;
			}
			.action {
				flex: 1;
				.title{
					display: flex;
					justify-content: space-between;
				}
			}
			text {
				font-size: $font-size-tag;
			}
		}
	}
}

.placeholder-height {
	height: 120rpx;
}

.footer-wrap {
	position: fixed;
	bottom: 0;
	padding: 20rpx 0 10rpx;
	z-index: 10;
	width: 100%;
	text-align: right;
	background-color: #fff;
	border-top: 1px solid $color-line;
	padding-bottom: calc(constant(safe-area-inset-bottom) + 30rpx);
	padding-bottom: calc(env(safe-area-inset-bottom) + 30rpx);
	.container {
		margin: 0 $margin-both;
		button {
			margin-left: 20rpx !important;
			&:first-child {
				margin-left: 0 !important;
			}
		}
	}
}
