{extend name="base"/}
{block name="resources"}
<style>
	.ns-reason-box{display: none;width: 350px;box-sizing: border-box;padding: 20px;border: 1px solid #aaa;border-radius: 5px;background-color: #FFF;position: absolute;top: 50px;z-index: 999;color: #666;line-height: 30px;left: 0px;font-weight: normal;}
	.ns-balance-box {text-align: left; left: unset; right: -270px;}
	.ns-reason-box:before, .ns-reason-box:after{content: "";border: solid transparent;height: 0;position: absolute;width: 0;}
	.ns-reason-box:before{border-width: 12px;border-bottom-color: #aaa;top: -12px;left: 43px;border-top: none;}
	.ns-reason-growth:before{left: 56px;}
	.ns-reason-box:after{border-width: 10px;border-bottom-color: #FFF;top: -20px;left: 45px;}
	.ns-reason-growth:after{left: 58px;}
	.ns-reason-box p{white-space: normal;line-height: 1.5;}
	.layui-table-header{overflow: inherit;}
	.layui-table-header .layui-table-cell{overflow: inherit;}
	.ns-prompt .iconfont{font-size: 16px;color: rgba(0,0,0,0.7);cursor: pointer;font-weight: 500;margin-left: 3px;}
	.ns-prompt-block.balance {justify-content: flex-end;}
	.layui-form-item .layui-form-checkbox[lay-skin=primary] {margin-top: 0;}
	.blacklist{background: #333;color: #fff;line-height: 1;padding: 3px 6px;border-radius: 3px;font-size: 12px;}
	.layui-table-cell{text-align: center;}
	.ns-prompt-box{margin:auto;}
	.ns-table-tuwen-box .ns-img-box img{
		width:100%;
		max-width: auto;
	}
	.layui_input_block{margin-left: 110px!important;}
</style>
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/member.css" />
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/member_coupon.css" />

{/block}
{block name="main"}


<!-- 添加会员 -->


<div class="ns-screen layui-collapse" lay-filter="selection_panel">
	<div class="layui-colla-item">
		<h2 class="layui-colla-title"></h2>
		<form class="layui-colla-content layui-form layui-show">
			<div class="ns-form-row">
				<!--<button class="layui-btn ns-bg-color" lay-submit lay-filter="export">批量导出</button>-->
				<!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
			</div>
		</form>
	</div>
</div>

<table id="member_list" lay-filter="member_list"></table>

<!-- 用户信息 -->




<!-- 状态 -->


<!-- 工具栏操作 -->
<script type="text/html" id="action">
	<div class="ns-table-btn">
		{{# if(d.is_status == 0 ){ }}
		<a class="layui-btn" lay-event="tuijian">推荐</a>
		{{# } }}
		{{# if(d.is_status == 1){ }}
		<a class="layui-btn" lay-event="tuijianT">取消推荐</a>
		{{# } }}
		<a class="layui-btn" lay-event="info">删除</a>
	</div>
</script>
{/block}
{block name="script"}
<script type='text/javascript' src='ADMIN_JS/coupon_list.js'></script>

<script type="text/javascript">
	var table, form, laytpl, laydate, 
		repeat_flag = false, 
		currentDate = new Date(), 
		minDate = "",
		layer_pass,
		layer_label;
		
	layui.use(['form', 'laytpl', 'laydate'], function() {
		form = layui.form;
		laytpl = layui.laytpl;
		laydate = layui.laydate;
		currentDate.setDate(currentDate.getDate() - 7);
		form.render();

		//注册开始时间
		laydate.render({
			elem: '#reg_start_date',
			type: 'datetime'
		});

		//注册结束时间
		laydate.render({
			elem: '#reg_end_date',
			type: 'datetime'
		});

		/**
		 * 重新渲染结束时间
		 * */
		function reRender() {
			$("#reg_end_date").remove();
			$(".end-time").html('<input type="text" class="layui-input" name="reg_end_date" id="reg_end_date" placeholder="请输入结束时间">');
			laydate.render({
				elem: '#reg_end_date',
				min: minDate
			});
		}

        //积分
       /* $("body").on("mousemove",".ns-point",function() {
            $("body").find(".ns-point-box").show().stop(false, true);
        });
        $("body").on("mouseout",".ns-point",function() {
            $("body").find(".ns-point-box").hide().stop(false, true);
        }); */

        //余额
        /* $("body").on("mousemove",".ns-balance",function() {
            $("body").find(".ns-balance-box").show().stop(false, true);
        });
        $("body").on("mouseout",".ns-balance",function() {
            $("body").find(".ns-balance-box").hide().stop(false, true);
        }); */

        //成长值
       /* $("body").on("mousemove",".ns-growth",function() {
            $("body").find(".ns-growth-box").show().stop(false, true);
        });
        $("body").on("mouseout",".ns-growth",function() {
            $("body").find(".ns-growth-box").hide().stop(false, true);
        }); */

		table = new Table({
			elem: '#member_list',
			url: ns.url("admin/card/lists"),
			cols: [
				[{
						field: 'id',
						title: 'ID',
						width: '10%',
						unresize: 'false',
					}, {
						field: 'member_img',
						title: '头像',
						width: '10%',
						unresize: 'false'
					},{
						field: 'member_name',
						title: '姓名',
						width: '10%',
						unresize: 'false',

					},{
						field: 'mobile',
						title: '手机号',
						width: '10%',
						unresize: 'false',
						}, {
						field: 'company_gs',
						title: '公司',
						width: '10%',
						unresize: 'false',
					}, {
						field: 'company_bm',
						title: '部门',
						width: '10%',
						unresize: 'false',
						}, {
						field: 'position_name',
						title: '职位',
						width: '10%',
						unresize: 'false',
					}, {
						/*field: 'is_status',*/
						title: '是否推荐',
						width: '10%',
						unresize: 'false',
						templet:  function (data) {
						if (data.is_status == 0) {
							return '<spam>未推荐</spam>';
						}else{
							return '<spam>已推荐</spam>';
						}
					}
					}, {
						title: '操作',
						width: '10%',
						unresize: 'false',
						toolbar: '#action'
					}
				]
			],

		});
		
		/**
		 * 监听工具栏操作
		 */
		 table.tool(function(obj) {
			var data = obj.data;
			switch (obj.event) {
				case 'info': //编辑
					location.href = ns.url("admin/member/editMember?member_id=" + data.member_id);
					break;
				case 'delete': //删除
					delMember(data.member_id);
					break;
				case 'reset_pass': //重置密码
					resetPassword(data);
					break;
				case 'set_label': //设置标签
					settingLabels({member_id: data.member_id, label: data.member_label});
					break;
				case 'more': //更多
					$('.more-operation').css('display', 'none');
					$(obj.tr).find('.more-operation').css('display', 'block');
					break;
                case 'change':
                    var url = ns.url("fenxiao://admin/fenxiao/change", {member_id: data.member_id});
                    //iframe层-父子操作
                    var layerIndex = layer.open({
                        title: "变更上级分销商",
                        type: 2,
                        area: ['1200px', '800px'],
                        // btn: '保存',
                        content: url,
                        end: function () {
                            location.reload();
                        }
                    });
                    break;

				case 'recive_coupon': //发放优惠券
					selectCoupon(data);
					break;
				case 'blacklist': // 黑名单
					addBlacklist(data.member_id);
					break;
				case 'remove_blacklist': // 移除黑名单
					removeBlacklist(data.member_id);
					break;
				case 'tuijian': // 移除黑名单
					tuijian(data.id,1);
					break;
				case 'tuijianT': // 移除黑名单
					tuijian(data.id,0);
					break;

			}
		});

		$(document).click(function(event) {
			if ($(event.target).attr('lay-event') != 'more' && $('.more-operation').not(':hidden').length) {
				$('.more-operation').css('display', 'none');
			}
		});

		/**
		 * 批量操作
		 */
		table.toolbar(function(obj) {

			if (obj.data.length < 1) {
				layer.msg('请选择要操作的数据');
				return;
			}

			switch (obj.event) {
				case "del":
					var id_array = new Array();
					for (i in obj.data) id_array.push(obj.data[i].member_id);
					delMember(id_array.toString());
					break;
				case "setlabel":
					var id_array = new Array();
					for (i in obj.data) id_array.push(obj.data[i].member_id);
					settingLabels({member_id: id_array.toString()});
					break;
			}
		});
		table.bottomToolbar(function(obj) {
			
			if (obj.data.length < 1) {
				layer.msg('请选择要操作的数据');
				return;
			}

			switch (obj.event) {
				case "del":
					var id_array = new Array();
					for (i in obj.data) id_array.push(obj.data[i].member_id);
					delMember(id_array.toString());
					break;
				case "setlabel":
					var id_array = new Array();
					for (i in obj.data) id_array.push(obj.data[i].member_id);
					settingLabels({member_id: id_array.toString()});
					break;
			}
		});

		/**
		 * 删除
		 */
		function delMember(member_ids) {

			if (repeat_flag) return false;
			repeat_flag = true;
			
			layer.confirm('删除该会员，同时会删除相关账户，请谨慎操作！', function() {
				$.ajax({
					url: ns.url("admin/member/deleteMember"),
					data: {member_ids: member_ids},
					dataType: 'JSON',
					type: 'POST',
					success: function(res) {
						layer.msg(res.message);
						repeat_flag = false;

						if (res.code == 0) {
							table.reload();
						}
					}
				});
			}, function () {
				layer.close();
				repeat_flag = false;
			});
		}

		/**
		 * 重置密码
		 */
		function resetPassword(data) {
			laytpl($("#pass_change").html()).render(data, function(html) {
				layer_pass = layer.open({
					title: '重置密码',
					skin: 'layer-tips-class',
					type: 1,
					area: ['550px'],
					content: html,
				});
			});
		}
		
		form.on('submit(repass)', function(data) {
			
			if (repeat_flag) return false;
			repeat_flag = true;
			
			$.ajax({
				type: "POST",
				url: ns.url("admin/member/modifyPassword"),
				data: data.field,
				dataType: 'JSON',
				success: function(res) {
					layer.msg(res.message);
					repeat_flag = false;

					if (res.code == 0) {
						layer.closeAll('page');
					}
				}
			});
		});

		/**
		 * 设置标签
		 */
		function settingLabels(data) {

			laytpl($("#label_change").html()).render(data, function(html) {
				layer_label = layer.open({
					title: '设置标签',
					skin: 'layer-tips-class',
					type: 1,
					area: ['450px'],
					content: html,
					success: function(){
						if (data.label) {
							var label = data.label.split(',');
							label.forEach(function (i) {
								$('#reset_label [name="label_id'+ i +'"]').prop('checked', true);
								form.render();
							})

						}
					}
				});
			});

			form.render();
		}
		
		form.on('submit(setlabel)', function(obj) {
			if (repeat_flag) return false;
			repeat_flag = true;
			var field = obj.field;
			var arr_id = [];
			for (var prop in field) {
				if (prop == 'member_ids') {
					continue;
				}
				arr_id.push(field[prop]);
			}
			$.ajax({
				type: "POST",
				url: ns.url("admin/member/modifyLabel"),
				data: {
					'member_ids': field.member_ids,
					'label_ids': arr_id.toString()
				},
				dataType: 'JSON',
				success: function(res) {
					layer.msg(res.message);
					repeat_flag = false;
					if (res.code == 0) {
						table.reload();
						layer.closeAll('page');
					}
				}
			});
		});

		/**
		 * 搜索功能
		 */
		form.on('submit(search)', function(data) {
			table.reload({
				page: {
					curr: 1
				},
				where: data.field
			});
			return false;
		});

        /**
         *  导出
         */
        form.on('submit(export)', function(data) {
            location.href = ns.url("admin/member/exportMember",data.field);
            return false;
        });

		$(".search-form").click(function() {
			$(".layui-form-search").show();
			$(this).hide();
		});

		$(".form-hide-btn").click(function() {
			$(".layui-form-search").hide();
			$(".search-form").show();
		});

		/**
		 * 表单验证
		 */
		form.verify({
			repass: function(value) {
				if (value != $(".new_pass").val()) {
					return "输入错误,两次密码不一致!";
				}
			}
		});

		/**
		 * 发放优惠券
		 */
		function selectCoupon(data) {
			laytpl($("#recive_coupon").html()).render(data, function(html) {
				layer_coupon = layer.open({
					title: '选择优惠券',
					skin: 'layer-tips-class',
					type: 1,
					area: ['700px', '542px'],
					content: html,
				});
				renderCoupon("", data.member_id);
			});
		}

		function tuijian(id,status){
			$.ajax({
				url: ns.url("admin/card/modifyStatus"),
				data: {id:id,status:status},
				dataType: 'JSON',
				type: 'POST',
				success: function(res) {
					layer.msg(res.message);
					if (res.code == 0) {
						table.reload();
					}
				}
			});
		}
		/**
		 * 加入黑名单
		 * @param member_ids
		 */
		function addBlacklist(member_ids) {
			layer.confirm('加入黑名单后用户将强制退出无法登录，您确认要将用户加入黑名单吗？', function() {
				$.ajax({
					url: ns.url("admin/member/modifyStatus"),
					data: {member_ids:member_ids},
					dataType: 'JSON',
					type: 'POST',
					success: function(res) {
						layer.msg(res.message);
						if (res.code == 0) {
							table.reload();
						}
					}
				});
			}, function () {
				layer.close();
			});
		}

		/**
		 * 移除黑名单
		 * @param member_ids
		 */
		function removeBlacklist(member_ids) {
			layer.confirm('确定要移除黑名单？', function() {
				$.ajax({
					url: ns.url("admin/member/modifyStatus"),
					data: {
						member_ids: member_ids,
						status: 1
					},
					dataType: 'JSON',
					type: 'POST',
					success: function(res) {
						layer.msg(res.message);
						if (res.code == 0) {
							table.reload();
						}
					}
				});
			}, function () {
				layer.close();
			});
		}
	});
	
	function closePass() {
		layer.close(layer_pass);
	}
	
	function closeLabel() {
		layer.close(layer_label);
	}
</script>

{/block}