{extend name="/common/default" /}
{block name="main"}
<div class="row">
    <div class="col-xl-12">
        <!-- Bootstrap Contact -->
        <div class="block block-themed">
            <div class="block-header bg-info">
                <h3 class="block-title">{$title}</h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
                            data-action-mode="demo">
                        <i class="si si-refresh"></i>
                    </button>
                    <button type="button" class="btn-block-option" data-toggle="block-option"
                            data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                </div>
            </div>
            <div class="block-content">
                <form action="be_forms_premade.html" method="post" onsubmit="return false;">
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="contact1-firstname">用户名</label>
                            <input type="text" class="form-control" id="contact1-firstname" disabled name="uname"
                                   value="{$user['uname']}">
                            <input type="hidden" name="token" value="{$user['token']}">
                        </div>
                        <div class="col-6">
                            <label for="contact1-lastname">密码</label>
                            <input type="password" class="form-control" id="contact1-lastname" title="须包含字母和数字，且长度在6-20之间" placeholder="须包含字母和数字，且长度在6-20之间" name="upwd"
                                   value="{$user['upwd']}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="contact1-email">邮箱</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="contact1-email" name="email"
                                       placeholder="邮箱号码" value="{$user['email']}">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>QQ</label>
                            <input type="text" class="form-control" name="qq" placeholder="QQ" value="{$user['qq']}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label>会员等级</label>
                            <input type="text" class="form-control" disabled value="{$user['vname']}">
                        </div>
                        <div class="col-6">
                            <label>微信费率</label>
                            <input type="text" class="form-control" disabled
                                   value="{if $user['wx_rate']}{if $user['v_time_expire']<date('Y-m-d')}{:config('wx_default_rate')}{else}{$user['wx_rate']}{/if}{else /}{:config('wx_rate')}{/if}%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label>会员到期时间</label>
                            <input type="text" class="form-control" disabled value="{$user['v_time_expire']}">
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button id="submit" type="submit" style="float:right;" class="btn btn-alt-info">
                                <i class="fa fa-send mr-5"></i> 立即修改
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END Bootstrap Contact -->
    </div>
</div>
{/block}
{block name="footjs"}
<script>
    $("#submit").click(function () {
        var cont = $("form").serialize();
        layer.load(2, {shade: [0.1, '#fff']});
        $.ajax({
            url: "/{:USER_DIR}/do_info",
            type: 'post',
            dataType: 'json',
            data: cont,
            success: function (res) {
                layer.closeAll();
                if (res.code == 1) {
                    layer.alert(res.msg, {icon: 6}, function () {
                        location.href = "/{:USER_DIR}";
                    });
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            },
            timeout: 10000,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.closeAll();
                if (textStatus == "timeout") {
                    layer.msg('请求超时！');
                } else {
                    layer.msg('服务器错误！');
                }
            }
        });
    });
</script>
{/block}