{extend name="app/shop/view/base.html"/}
{block name="resources"}
<style>
	.layui-form-item .layui-input-inline.end-time{
		float: none;
	}
	.goods_list .layui-table-body{max-height: 480px !important;}
	.goods-title{display: flex;align-items: center;}
	.goods-title .goods-img{display: flex;align-items: center;justify-content: center;width: 55px;height: 55px;margin-right: 5px;}
	.goods-title .goods-img img{max-height: 100%;max-width: 100%;}
	.goods-title .goods-name{flex: 1;line-height: 1.6;}
</style>
{/block}
{block name="main"}
<div class="layui-form ns-form">
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="required">*</span>活动时间：</label>
		<div class="layui-inline">
			<div class="layui-input-inline ns-len-mid">
				<input type="text" id="start_time" name="start_time" lay-verify="required" class="layui-input" autocomplete="off" readonly>
				<i class="ns-calendar"></i>
			</div>
			<span class="layui-form-mid">-</span>
			<div class="layui-input-inline ns-len-mid end-time">
				<input type="text" id="end_time" name="end_time" lay-verify="required|time" class="layui-input" autocomplete="off" readonly>
				<i class="ns-calendar"></i>
			</div>
		</div>
	</div>

	<div class="layui-form-item goods_list">
		<label class="layui-form-label">活动商品：</label>
		<div class="layui-input-block">
			<table id="selected_goods_list" lay-filter="selected_goods_list"></table>
			<button class="layui-btn ns-bg-color" onclick="addGoods()">选择商品</button>
		</div>
	</div>

	<div class="ns-form-row">
		<button class="layui-btn ns-bg-color" lay-submit lay-filter="save">保存</button>
		<button class="layui-btn layui-btn-primary" onclick="back()">返回</button>
	</div>
</div>
{/block}
{block name="script" }
<script type="text/html" id="toolbarOperation">

</script>

<script>
	var goodsId = {}, selectedGoodsId = [], sku_list = [];
	layui.use(['form', 'laydate'], function() {
		var form = layui.form,
				laydate = layui.laydate,
				repeat_flag = false,
				currentDate = new Date(),
				minDate = "";
		currentDate.setDate(currentDate.getDate() + 30);
		form.render();

		renderTable(sku_list); // 初始化表格

		form.render('select');

		//开始时间
		laydate.render({
			elem: '#start_time', //指定元素
			type: 'datetime',
			value: new Date(),
			done: function(value) {
				minDate = value;
				reRender();
			}
		});

		//结束时间
		laydate.render({
			elem: '#end_time', //指定元素
			type: 'datetime',
			value: new Date(currentDate)
		});

		/**
		 * 重新渲染结束时间
		 * */
		function reRender() {
			$("#end_time").remove();
			$(".end-time").html('<input type="text" id="end_time" name="end_time" placeholder="请输入结束时间" lay-verify="required|time" class = "layui-input" autocomplete="off" readonly><i class="ns-calendar"></i> ');
			laydate.render({
				elem: '#end_time',
				type: 'datetime',
				min: minDate
			});
		}

		/**
		 * 表单验证
		 */
		form.verify({
			time: function(value) {
				var now_time = (new Date()).getTime();
				var start_time = (new Date($("#start_time").val())).getTime();
				var end_time = (new Date(value)).getTime();
				if (now_time > end_time) {
					return '结束时间不能小于当前时间!'
				}
				if (start_time > end_time) {
					return '结束时间不能小于开始时间!';
				}
			},
			num: function(value) {
				if (value < 1 || value % 1 != 0) {
					return '请输入大于0的正整数！';
				}
			},
		});

		form.on('submit(save)', function(data){

			if (!Object.keys(goodsId).length) {
				layer.msg("请选择活动商品！", {icon: 5, anim: 6});
				return;
			}
			data.field.goods_ids = selectedGoodsId.split(',');

			var skuId = [];
			Object.values(goodsId).forEach(function (item,index) {
				Object.values(item.sku_id).forEach(function (skuItem,skuIndex) {
					skuId.push(skuItem.sku);
				});
			});
			data.field.sku_ids = skuId;

			var skuLisArr = [];
			sku_list.forEach(function(item,index) {
				var sku_detail = {};
				sku_detail.sku_id = item.sku_id;
				sku_detail.goods_id = item.goods_id;
				skuLisArr.push(sku_detail);
			});
			data.field.sku_list = skuLisArr;

			var time = new Date(data.field.end_time).getTime() - new Date(data.field.start_time).getTime();
			if (time == 0) {
				layer.msg("有效期不能为0！", {icon: 5, anim: 6});
				return;
			}

			// if(repeat_flag) return;
			// repeat_flag = true;

			$.ajax({
				type: 'POST',
				dataType: 'JSON',
				url: ns.url("present://shop/present/add"),
				data: data.field,
				async: false,
				success: function(res){

					if (res.code == 0) {
						layer.confirm('添加成功', {
							title:'操作提示',
							btn: ['返回列表', '继续添加'],
							closeBtn: 0,
							yes: function(){
								location.href = ns.url("present://shop/present/lists");
							},
							btn2: function() {
								location.href = ns.url("present://shop/present/add");
							}
						});
					}else{
						repeat_flag = false;
						layer.msg(res.message);
					}
				}
			})
		});
	});

	// 表格渲染
	function renderTable(sku_list) {
		//展示已知数据
		table = new Table({
			elem: '#selected_goods_list',
			page:false,
			limit:Number.MAX_VALUE,
			cols: [
				[{
					field: 'sku_name',
					title: '商品名称',
					width: '23%',
					unresize: 'false',
					templet: function(data) {
						var html = '';
						html += `
							<div class="goods-title">
								<div class="goods-img">
									<img layer-src src="${data.sku_image ? ns.img(data.sku_image) : ''}" alt="">
								</div>
								<p class="ns-multi-line-hiding goods-name" data-goods_id="${data.goods_id}" data-sku_id="${data.sku_id}" title="${data.sku_name}">${data.sku_name}</p>
							</div>
						`;
						return html;
					}
				}, {
					field: 'price',
					title: '商品价格',
					unresize: 'false',
					width: '15%',
					templet: function(data) {
						return '<p class="ns-line-hiding" title="'+ data.price +'">￥<span class="goods-price">' + data.price +'</span></p>';
					}
				}, {
					field: 'stock',
					title: '库存',
					unresize: 'false',
					width: '10%',
					templet: function(data) {
						return '<p class="stock">' + data.stock +'</p>';
					}
				}, {
					title: '操作',
					toolbar: '#operation',
					width: '10%',
					unresize: 'false'
				}]
			],
			data: sku_list
		});
	}


	/**
	 * 添加商品
	 */
	function addGoods(){
		goodsSelect(function(res) {
			if (!res.length) return false;

			for(var i=0;i<res.length;i++) {

				goodsId['goods_'+ res[i].goods_id] = {};
				goodsId['goods_'+ res[i].goods_id].sku_id = {};
				goodsId['goods_'+ res[i].goods_id].spu_id = res[i].goods_id;

				for (var k = 0; k < res[i].selected_sku_list.length; k++) {
					var item = res[i].selected_sku_list[k];

					goodsId['goods_'+ res[i].goods_id].sku_id['sku_'+item.sku_id]={};
					goodsId['goods_'+ res[i].goods_id].sku_id['sku_'+item.sku_id].sku = item.sku_id;
					sku_list.push(item);
				}
			}

			renderTable(sku_list);


			$("input[name='sku_ids']").val(JSON.stringify(goodsId));

			var spuId = [];
			Object.values(goodsId).forEach(function (item,index) {
				spuId.push(item.spu_id);
			});
			selectedGoodsId = spuId.toString();
		}, selectedGoodsId);
	}

	function delRow(obj,id) {
		for (var i = 0; i < sku_list.length; i++){
			if (sku_list[i].sku_id == parseInt(id)){
				sku_list.splice(i,1);
			}
		}

		Object.values(goodsId).forEach(function (item,index) {
			delete item.sku_id['sku_'+id];
			if (!Object.keys(item.sku_id).length){
				delete goodsId['goods_'+item.spu_id];
			}
		});

		var spuId = [];
		Object.values(goodsId).forEach(function (item,index) {
			spuId.push(item.spu_id);
		});
		selectedGoodsId = spuId.toString();
		$(obj).parents("tr").remove();
	}


	function back() {
		location.href = ns.url("present://shop/present/lists");
	}
</script>


<script type="text/html" id="operation">
	<div class="ns-table-btn">
		<a class="layui-btn" onclick="delRow(this,{{d.sku_id}})">删除</a>
	</div>
</script>
{/block}