{extend name='common/default'/}
{block name="main"}
<style>
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }

        .table-responsive > .table {
            margin-bottom: 0;
        }

        .table-responsive > .table > thead > tr > th,
        .table-responsive > .table > tbody > tr > th,
        .table-responsive > .table > tfoot > tr > th,
        .table-responsive > .table > thead > tr > td,
        .table-responsive > .table > tbody > tr > td,
        .table-responsive > .table > tfoot > tr > td {
            white-space: nowrap;
        }

        .table-responsive > .table-bordered {
            border: 0;
        }

        .table-responsive > .table-bordered > thead > tr > th:first-child,
        .table-responsive > .table-bordered > tbody > tr > th:first-child,
        .table-responsive > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive > .table-bordered > thead > tr > td:first-child,
        .table-responsive > .table-bordered > tbody > tr > td:first-child,
        .table-responsive > .table-bordered > tfoot > tr > td:first-child {
            border-left: 0;
        }

        .table-responsive > .table-bordered > thead > tr > th:last-child,
        .table-responsive > .table-bordered > tbody > tr > th:last-child,
        .table-responsive > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive > .table-bordered > thead > tr > td:last-child,
        .table-responsive > .table-bordered > tbody > tr > td:last-child,
        .table-responsive > .table-bordered > tfoot > tr > td:last-child {
            border-right: 0;
        }

        .table-responsive > .table-bordered > tbody > tr:last-child > th,
        .table-responsive > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive > .table-bordered > tbody > tr:last-child > td,
        .table-responsive > .table-bordered > tfoot > tr:last-child > td {
            border-bottom: 0;
        }
    }
</style>
<div class="block">
    <div class="block-header block-header-default bg-gd-sea">
        <h3 class="block-title">{$title}</h3>
    </div>
    <div class="block-content">
        <div class="table-responsive">
            <table class="table table-bordered table-vcenter">
                <thead>
                <tr>
                    <th>申请单号</th>
                    <th>MCHID</th>
                    <th>姓名</th>
                    <th>商户名称</th>
                    <th>申请时间</th>
                    <th>状态</th>
                    <th>今日交易</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $v}
                <tr>
                    <td>{$v.sid}</td>
                    <td>{if $v.mchid}{$v.mchid}{else}<font color="red">未完成,请刷新状态</font>{/if}</td>
                    <td>{$v.id_card_name}</td>
                    <td>{$v.merchant_shortname}</td>
                    <td>{$v.addtime}</td>
                    <td>{if $v.mchid}<font color="green">已完成签约</font>{else}<font color="red">未完成，请刷新状态</font>{/if}</td>
                    <td>{foreach $arr as $vs}{if $v.mchid==$vs.mchid}{$vs.money}{/if}{/foreach}元</td>
                    <td>
                        <button onclick="shuaxin({$v.sid})" class="btn btn-info btn-sm" {if $v.mchid}disabled{/if}>刷新状态</button>
                        <button onclick="window.location.href='order.html?mchid={$v.mchid}';" class="btn btn-warning btn-sm" {if !$v.mchid}disabled{/if}>查看订单</button>
                        <button onclick="window.location.href='cash_query/{$v.mchid}.html';" class="btn btn-success btn-sm" {if !$v.mchid}disabled{/if}>提现记录</button>
                        <button onclick="window.location.href='edit_cash/{$v.mchid}.html';" class="btn btn-primary btn-sm" {if !$v.mchid}disabled{/if}>修改结算账号</button>
                        <button onclick="chushihua({$v.mchid})" class="btn btn-danger btn-sm" {if !$v.mchid}disabled{/if}{if $v.config_state==1}disabled{/if}>初始化</button>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
{block name="footjs"}
<script>
    function chushihua(mchid)
    {
        layer.load(2, {shade: [0.1, '#fff']});
        $.ajax({
            type: "GET",
            url: "{:url('/user/do_wechart_config/"+mchid+"')}",
            dataType: 'json',
            success: function (data) {
                layer.closeAll();
                if (data.code == 1) {
                    layer.alert(data.msg, {icon: 6}, function () {
                        window.location.href = "{:url('/user/wechart')}";
                    });
                } else {
                    layer.alert(data.msg, {icon: 5});
                }
            },
            timeout: 10000,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.closeAll();
                if (textStatus == "timeout") {
                    layer.msg('请求超时！');
                } else {
                    layer.msg('服务器错误！');
                }
            }
        });
    }

    function shuaxin(sid)
    {
        layer.load(2, {shade: [0.1, '#fff']});
        $.ajax({
            type: "GET",
            url: "{:url('/user/wechart_query/"+sid+"')}",
            dataType: 'json',
            success: function (data) {
                layer.closeAll();
                if (data.code == 1) {
                    layer.alert(data.msg, {icon: 6}, function () {
                        window.location.href = "{:url('/user/wechart')}";
                    });
                } else if (data.code == 2) {
                    layer.open({
                        type: 1,
                        area: ['300px', '385px'],
                        title: '请使用微信扫码完成签约',
                        shade: 0.3,
                        anim: 1,
                        shadeClose: true,
                        content: '<center><br/><b><font color="red">扫码签约后请刷新页面</font></b><br/><img width="300px" src="' + data.sign_url + '"></center>'
                    });
                } else if (data.code == 3) {
                    layer.alert(data.msg, {icon: 6}, function () {
                        window.location.href = "{:url('/user/wechart')}";
                    });
                } else {
                    layer.alert(data.msg, {icon: 5});
                }
            },
            timeout: 10000,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.closeAll();
                if (textStatus == "timeout") {
                    layer.msg('请求超时！');
                } else {
                    layer.msg('服务器错误！');
                }
            }
        });
    }
</script>
{/block}