{extend name="base"/}
{block name="resources"}
{/block}
{block name="main"}
<div class="layui-collapse ns-tips">
	<div class="layui-colla-item">
		<h2 class="layui-colla-title">操作提示</h2>
		<ul class="layui-colla-content layui-show">
			<li>商品排序，将会设置商品的排序方式和默认排序值，商家可通过该设置控制商品的展示顺序</li>
		</ul>
	</div>
</div>
<div class="layui-form ns-form">

	<div class="layui-form-item">
		<label class="layui-form-label">排序方式：</label>
		<div class="layui-input-block ns-len-mid">
			<select name="type">
				<option value="asc" {if $goods_sort_confog['type'] == 'asc'} selected {/if}>正序排列</option>
				<option value="desc" {if $goods_sort_confog['type'] == 'desc'} selected {/if}>倒序排列</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">默认排序值：</label>
		<div class="layui-input-block ns-len-mid">
			<input type="number" class="layui-input" name="default_value" value="{$goods_sort_confog['default_value']}">
		</div>
	</div>

	<div class="ns-form-row">
		<button class="layui-btn ns-bg-color" lay-submit lay-filter="save">保存</button>
	</div>

</div>
{/block}

{block name="script"}
<script>
	layui.use('form', function() {
		var form = layui.form,repeat_flag=false;
		form.on('submit(save)', function(data) {
			if (repeat_flag) return;
			repeat_flag = true;

			$.ajax({
				url: ns.url("shop/goods/goodssort"),
				data: data.field,
				dataType: 'JSON',
				type: 'POST',
				success: function(res) {
					repeat_flag = false;
					layer.msg(res.message);
					if (res.code == 0) {
						location.reload();
					}
				}
			});
		});

	});
</script>
{/block}